*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif ;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg, #fdfdfd,#d6d6d6) ;
    padding: 10px;
}
.head{
    width:80%;
    height: 140px;
    background: #f178ff;
    margin: auto 200px; /*100pxtop autol-r 20pxbottom*/
    padding: 10px;/*10px top */
    border-radius: 10px;
    position: relative;
    left:100px;
}
.head h2{
    padding-top: 90px;
    margin:0 10px 20px ;
}
.side{
    width: 18%;
    height:700px;
    background: rgb(233, 233, 233);
    margin:10px ;
    padding:10px;
    border-radius: 10px;
    position: relative;
    bottom: 150px;
}
.inbox{
    position: relative;
    left:1100px;
    bottom: 670px;
}
 #searchpt{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.inbox button{
    height:30px;
    width: 90px;
    border-radius: 5px;
    border:none;
    outline: none;
    cursor:pointer;
}
.inbox button:hover{
    background: rgb(212, 212, 212);
}
#new{
    position: relative;
    top:70px;
    right: 200px;
    height: 40px;
    width: 100px;
}
#plus{
    width: 20px;
    height: 20px;
   
}
ul li{
    box-sizing: border-box;
    padding: 10px 10px 100px;
    margin: 20px;
    background: #d6d6d6;
    width: 240px;
    border-radius: 10px;
    position: absolute;
    left:400px;
    bottom: 200px;
    display: flex;
    justify-content: flex-start;
}
.addbar{
    position: relative;
    left:1000px;
    bottom: 638px;
}
#AddBar{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none; 
}
/*--#Add{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    right:3px;
    border: none;
    outline: none;
    cursor: pointer;
}
#Add:hover{
    background: rgb(212, 212, 212);
} --*/